* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #3a6186, #89253e);
    height: 100%;
    color: #fff;
    overflow-x: hidden;
}

ul {
    list-style-type: none;
    margin: 20px auto;
    padding: 10px;
    width: fit-content;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
}

li {
    display: inline-block;
    margin: 0 10px;
}

li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

li a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: #000;
    border-radius: 20px;
}

h2 {
    font-size: 22px;
    margin-bottom: 15px;
    text-align: center;
    color: #fff;
}

.flight-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.flight-card {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    width: 580px;
    padding: 15px;
    text-align: center;
    overflow: hidden;
    transition: transform 0.3s;
}

.flight-card:hover {
    transform: scale(1.03);
}

.flight-images {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.flight-images div {
    height: 230px;
    width: 48%;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
}

/* Specific Flight Images */
#M1 {
    background-image: url(/static/images/max-air-3.jpg);
}

#M2 {
    background-image: url(/static/images/luggage.jpg);
}

#F1 {
    background-image: url(/static/images/fly1.webp);
}

#F2 {
    background-image: url(/static/images/emirates-hero-1.webp);
}

#Q1 {
    background-image: url(/static/images/qantas1.jpg);
}

#Q2 {
    background-image: url(/static/images/qantas2.jpg);
}
