 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #5c4ac7, #e96443);
    height: 100%;
    color: #fff;
    overflow-x: hidden;
}

ul {
    list-style-type: none;
    margin: 10px auto;
    padding: 10px;
    width: fit-content;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
}

li {
    display: inline-block;
    margin: 0 10px;
}

li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

li a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: #000;
    border-radius: 20px;
}

h2 {
    font-size: 22px;
    margin-bottom: 15px;
    text-align: center;
    color: #fff;
}

.hotel-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.hotel-card {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    width: 580px;
    padding: 15px;
    text-align: center;
    overflow: hidden;
    transition: transform 0.3s;
}

.hotel-card:hover {
    transform: scale(1.03);
}

.hotel-images {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.hotel-images div {
    height: 230px;
    width: 48%;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
}

#paris1 {
    background-image: url(/static/images/paris1.jpg);
}

#paris2 {
    background-image: url(/static/images/paris2.JPEG);
}

#kenya1 {
    background-image: url(/static/images/kenya1.jpg);
}

#kenya2 {
    background-image: url(/static/images/caption.jpg);
}

#maldives1 {
    background-image: url(/static/images/madi.jpg);
}

#maldives2 {
    background-image: url(/static/images/b3.jpg);
}

#singapore1 {
    background-image: url(/static/images/lobby-orchard-hotel-singapore.jpg);
}

#singapore2 {
    background-image: url(/static/images/orchid.jpg);
}

#italy1 {
    background-image: url(/static/images/italy.jpg);
}

#italy2 {
    background-image: url(/static/images/italy2.jpg );
}
