 body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden; 
    background-image: url('/static/images/2.jpg');
    background-size: cover; 
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

ul {
    list-style-type: none;
    margin: 10px auto;
    padding: 10px;
    width: 98%;
    border-radius: 50px;
    background-color:rgb(45, 144, 182, 0.5);
    backdrop-filter: blur(5px);
    
}

li {
    display: inline-block;
    margin: 0 10px;
}

li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 10px 45px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

li a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: #000;
    border-radius: 20px;
}

.info-section {
    margin: 50px auto;
    max-width: 1200px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: left;
}
h2 {
    color: darkgreen;
    font-size: 2.5em;
    font-family: 'Arial', sans-serif;
    text-align: center;
}


#box2 {
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 0.8); 
    height: 50px;
    width: 1230px;
    border-radius: 30px;
    padding: 10px;
    display: flex;
    align-items: flex-end; 
    justify-content: flex-end; 
    gap: 15px; 
}
#box2 img {
    height: 30px;
    width: 30px;
    cursor: pointer;
}

body {
    padding-bottom: 100px; 
}
